@font-face {
    font-family: 'Trip Sans';
    src: url('fonts/trip-sans-bold.otf');
}



body{
    padding: 10em;
    background: linear-gradient(21deg, #fff2d7, #ffe0b5, #ce9e6b, #a37b4d);
    background-size: 800% 800%;

    -webkit-animation: AnimationName 7s ease infinite;
    -moz-animation: AnimationName 7s ease infinite;
    animation: AnimationName 7s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:22% 0%}
    50%{background-position:79% 100%}
    100%{background-position:22% 0%}
}
@-moz-keyframes AnimationName {
    0%{background-position:22% 0%}
    50%{background-position:79% 100%}
    100%{background-position:22% 0%}
}
@keyframes AnimationName {
    0%{background-position:22% 0%}
    50%{background-position:79% 100%}
    100%{background-position:22% 0%}
}
#title{
    display: flex;
    justify-content: center;
    margin: 2em;
}

h1{
    border-radius: 40px;
    padding: 1em 4em 1em 4em;
    font-family: 'Trip Sans';
    background-color: var(--primary_color);
}

.interior{
    border-radius: 40px;
    padding: 4em;
    background-color: var(--primary_color);
}

:root{
    --main_font: Trip Sans;
    --primary_color: #f6debd;
    --secondary_color: #FFF2D7;
    --tertiary_color: #F8C794;
    --quartary_color: #D8AE7E;
}

.mainfield{
    padding: 5em 0 5em 0;
    border-radius: 25px;
    display: flex;
    justify-content: space-evenly;
    background-color: var(--secondary_color);
    flex-wrap: wrap;
}

.entrymatrix1, .entrymatrix2{
    border-radius: 10px;
}

.operationsBetween{
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#computebutton{
    margin: 1em 0 1em 0;
    display: flex;
    justify-content: center;
}

h2 {
    font-family: var(--main_font);
    padding-left: 3em;
    padding-right: 3em;
    display: flex;
    justify-content: center;
}

.matrix-input1, .matrix-input2{
    width: 50px;
    height: 50px;
    margin: 5px;
    text-align: right;
    font-size: 16px;
    border: none;
}

.matrixFormatter1, .matrixFormatter2{
    margin: 1em;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
}

#matrix1, #matrix2{
    display: flex;
    flex-direction: column;
}

.operations1, .operations2{
    display: flex;
    justify-content: center;
}

fieldset{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-evenly;
    border: none;
}

input{
    font-family: var(--main_font);
    border: none;
    text-align: center;
    border-radius: 10px;
    width: 100px;
    height: 50px;
    background-color: var(--tertiary_color);
}

select{
    text-align: center;
    border: none;
    border-radius: 7px;
    width: 10em;
    font-family: Trip Sans;
    background-color: var(--tertiary_color);
}

label{
    font-family: Trip Sans;
    display: flex;
    justify-content: center;
}

.rowcolspacing{
    position: relative;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
}

#rowfield{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-evenly;
}

#colfield{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-evenly;
}


#generate{
    cursor: pointer;
    width: auto;
}

.operationsBtwn2M{
    display: flex;
    justify-content: space-evenly;
}

.matrix-button1, .matrix-button2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    
}

button{
    font-family: Trip Sans;
    border-radius: 10px;
    padding: 1em;
    width: 100px;
    border: none;
    background-color: var(--primary_color);
    cursor: pointer;
    margin: 1em;
}


.outputContainer{
    display: flex;
    justify-content: center;
    padding-top: 3em;
}

.outputMatrix{
    background-color: var(--secondary_color);
    border-radius: 10px;
}

.result{
    text-align: center;
    margin: 3em;
    font-family: Trip Sans;
    display: flex;
    flex-direction: column;
}

.contact-section{
    min-height: 20vh;
    background-color: var(--quaternary-color);
}

.my-contacts{
    display: flex;
    justify-content: center;
}

.my-contacts a{
    text-decoration: none;
    color: var(--text);
    font-family: Trip Sans;
    font-size: 25px;
    padding-top: 10px;
}

.my-contacts span{
    text-decoration: none;
    color: rgb(82, 82, 82);
    font-family: Trip Sans;
    font-size: 25px;
    padding: 10px 20px;
}

.contacts h2{
    display: flex;
    justify-content: center;
    font-family: Consolas;
    font-weight: lighter;
    font-size: 15px;
    color: #7d7d7d;
}

.contacts{
    padding-top: 50px;
    display: flex;
    flex-direction: column;
}
